[user]
	name = Rafael Romero Lopes
	email = rafarlopes@hotmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
[core]
	gitproxy = proxy.houston.hp.com
	gitproxy = proxy.houston.hp.com
	gitproxy = http://proxy.houston.hp.com
[http]
	proxy = http://proxy-atc.atlanta.hp.com:8080
	sslVerify = false
[https]
	proxy = http://proxy-atc.atlanta.hp.com:8080
[credential]
	helper = store
